.start-stop {
  margin: 20px auto 20px auto;
  width: 300px;
  text-align: center
}

#start-stop-button {
  font-size: 20px;
  height: 50px;
  width: 300px;
}

.input-group {
  margin: 20px auto 20px auto;
  width: 300px;
  text-align: center
}

#user-name-input {
  font-size: 20px;
  height: 50px;
  width: 300px;
  text-align: center;
}

.time-input {
  margin: 20px auto 20px auto;
  width: 600px;
  text-align: center;
}

.current-user {
  margin: 20px auto 20px auto;
  width: 300px;
  text-align: center;
  color: #333333;
}


#current-user-name {
  font-size: 50px;
  font-size: 50px;
  color: #5cb85c;
  width: 300px;
}

.jumbotron {
  text-align: center;
}

.status {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center
}

#status-button {
  color: #ffffff;
  background-color: #5cb85c;
  font-size: 50px;
  height: 200px;
  width: 300px;
}


.queue {
  text-align: center;
  color: #286090;
  font-family: Verdana, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

.start-time {
  text-align: right;
  margin-top: 10px;
}

.queue-name {
  text-align: left;
  margin-top: 10px;
}


.modal-trigger {
  margin: 20px auto 20px auto;
  width: 300px;
  text-align: center
}

.get-in-line-button {
  font-size: 20px;
  height: 50px;
  width: 300px;
}

.input-group {
  margin: 20px auto 20px auto;
  width: 200px;
  text-align: center
}

.glyphicon-remove {
  color: #d1d3d6;
}
